html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
main{
    padding: 0 5%;
}
.content-img{
    display: none;
}
.center-logo{
    width: 80%;
    margin: 0 auto;
}
.text-section{
    text-align: justify;
    font-size:180%;
    line-height: 1.5;
}